{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ]
  }
}
