.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.page-enter{
    transform: translateX(100%);
    /* opacity: 0; */
}

.page-enter-active{
    transform: translateX(0);
    /* opacity: 1; */
}

.page-exit-active{
    /* transform: scale(0.9); */
    /* opacity: 0; */
    transform: translateX(-100%);

}

