.page {
    position: fixed;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.page-enter{
    transform: translateX(100%);
}

.page-enter-active{
    transform: translateX(0);
}

.page-exit-active{
    transform: translateX(-100%);

}

